.btn {
    padding: 9px 17px;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s all;
}

.btn.white {
    background-color: #fff;
    border: 2px solid #000;
}

.btn.green {
    background-color: #4cfdc7;
    border: 2px solid #4cfdc7;
}

.btn.white:hover {
    background-color: #000;
    color: #fff;
}

.btn.green:hover {
    background-color: #fff;
}
