.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
    background: #fff;
}

.header .logo-url {
    display: flex;
    z-index: 3;
}

.header .logo {
    flex-basis: 182px;
}

.header .burger {
    z-index: 3;
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
}

.header .burger::after,
.header .burger::before {
    content: "";
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 100%;
    left: 0;
    transition: 0.3s all;
}

.header .burger::before {
    top: 0;
}

.header .burger::after {
    bottom: 0;
}

.header .burger.active::after {
    top: 9px;
    transform: rotate(45deg);
}

.header .burger.active::before {
    top: 9px;
    transform: rotate(-45deg);
}

.header .burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: 0.3s all;
}

.header .burger.active span {
    transform: scale(0);
}

@media screen and (max-width: 768px) {
    .header .burger {
        display: block;
        margin-right: 10px;
    }
}
