.nav ul {
    display: flex;
    flex-wrap: wrap;
}

.nav li:not(:last-child) {
    margin-right: 56px;
}

.nav li a:not(.btn) {
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.3s all;
}

.nav li a:hover:not(.btn) {
    color: #444;
    border-bottom: 2px solid #444;
}

.nav .btn.green {
    margin-left: -36px;
}

@media screen and (max-width: 1024px) {
    .nav li:not(:last-child) {
        margin-right: 26px;
    }

    .nav li a:not(.btn) {
        font-size: 14px;
    }

    .nav .btn.green {
        margin-left: -16px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        z-index: 2;
        overflow: auto;
        position: absolute;
        left: 0;
        top: -1000px;
        width: 100vw;
        height: calc(100vh - 78px);
        text-align: center;
        background-color: #fff;
        padding-top: 16px;
        transition: 0.3s all;
    }

    .nav.active {
        top: 78px;
    }

    .nav ul {
        display: block;
    }

    .nav li a:not(.btn) {
        font-size: 16px;
    }

    .nav ul li {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .nav ul li:last-child {
        margin-top: 30px;
    }

    .nav .btn.green {
        margin-left: 0px;
    }

    .nav li:not(:last-child) {
        margin-right: 0px;
    }
}
