.news {
    text-align: center;
    margin-top: 162px;
}

.news .list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 64px;
}

.news .list-item .item {
    box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
    border-radius: 8px;
    flex-basis: 30%;
    text-align: left;
    margin-top: 16px;
}
.news .list-item .item .item-img {
    width: 100%;
}

.news .list-item .item .item-info {
    display: flex;
}

.news .list-item .item .category {
    display: inline-block;
    background-color: #BDFFEB;
    padding: 4px 8px;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 12px;
}

.news .list-item .item .date {
    margin-left: 16px;
    margin-top: 18px;
    text-transform: uppercase;
    font-style: normal;
}

.news .list-item .item .title {
    font-size: 24px;
    color: #18181B;
    text-align: left;
    margin-left: 16px;
    margin-top: 16px;
}

.news .list-item .item .more {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #000;
    border-bottom: 2px solid transparent;
    transition: .3s all;
}

.news .list-item .item .more:hover {
    border-bottom: 2px solid #000;
    transform: translateY(1px);
}

.news .check {
    margin-top: 62px;
}

@media screen and (max-width: 768px) {
    .news .list-item .item {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 480px) {
    .news .list-item .item {
        flex-basis: 90%;
    }
}