.news {
    text-align: center;
    margin-top: 162px;
}

.news .list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 64px;
}

.news .check {
    margin-top: 62px;
}
